<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ModSync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ModSync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ModSync.Properties.Settings>
			<setting name="arma3path" serializeAs="String">
				<value>NONE</value>
			</setting>
			<setting name="autojoin" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="autojoinserver" serializeAs="String">
				<value>23-luftlandekompanie.de:2302</value>
			</setting>
			<setting name="checkforupdates" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="mods" serializeAs="String">
				<value>@23LLK;@BWA3;@A3MP;</value>
			</setting>
			<setting name="mp_svnserver" serializeAs="String">
				<value>svn://stuffyserv.net/A3MP</value>
			</setting>
			<setting name="nosplash" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="otherstartup" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="password" serializeAs="String">
				<value>fallschirm</value>
			</setting>
			<setting name="svnserver" serializeAs="String">
				<value>svn://stuffyserv.net/svn/23LLK</value>
			</setting>
			<setting name="Version" serializeAs="String">
				<value>0.2.0</value>
			</setting>
			<setting name="worldempty" serializeAs="String">
				<value>True</value>
			</setting>
		</ModSync.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ModSync.Properties.Settings>
			<setting name="arma3exe" serializeAs="String">
				<value>arma3.exe</value>
			</setting>
		</ModSync.Properties.Settings>
    </applicationSettings>
</configuration>